@import "./__todo-app__main__form/todo-app__main__form";
@import "./__todo-app__header__filters__el__finder/todo-app__header__filters__el__finder";
@import "./__todo-app__main__list/todo-app__main__list";
@import "./_todo-app_basic-styles/todo-app_basic-styles";
@import "./_todo-app__base/_todo-app__base__media-query-mixins";
@import "./_todo-app__base/_todo-app__base__variables";
//importing mixins with animation working in every browser
@import "./_todo-app__base/_todo-app__base__mixins";

.todo-app{
  width: 100vw;
  @include tablet{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color__background_orange_light;
  };
  &__content{
    width: 100%;
    min-height: 900px;
    background-color: $color__background_grey;
    @include tablet{
      width: 700px;
    };
  }
}//end of todo-app
  .todo-app__header{
    &__logo{
      border: 0;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80px;
      background-color: $color__primary_orange;
      @include tablet{
        width: 700px;
      };
      &__menu-button{
        outline: none;
        border: 0;
        width:15vw;
        height: 75px;
        background-color: $color__primary_orange;
        background-image: url("./components/todo-app/_todo-app__images/todo-app__header__logo__menu-button_icon.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        &:hover{
          @include tablet{
            background-color: $color__primary_orange_light;
          };
        }
      }//end of menu-button
      &__menu-button_active{
        background-color: $color__primary_orange_light;
      }
      &__text{
        width:85vw;
        background-color: $color__primary_orange;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 8%;
        &__words{
          text-align: center;
          vertical-align: middle;
          background-color: $color__primary_orange;
          font-family: 'Pacifico', cursive;
          color: $color__background_white;
          font-size: 33px;
        }
        &__dots {
          background-color: $color__primary_orange;
          margin-top: 4px;
          width: 25px;
          height: 25px;
          @include animationLogoDotsAndHamburgerNav(play 2.5s steps(4) infinite);
          background-image: url('./components/todo-app/_todo-app__images/todo-app__header__logo__menu-text_dots.svg');
        }
      }
    }//end of logo

    &__filters{
      width: 100vw;
      border: 0;
      @include tablet{
        width: 700px;
      };
      &_hidden{
        height: 0;
        display: block;
        opacity: 0;
        @include animationLogoDotsAndHamburgerNav(FadeOut 0.6s ease-in-out);
      }
      &_visible{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        opacity: 1;
        @include animationLogoDotsAndHamburgerNav(FadeIn 0.6s ease-in-out);
      }
      &__el{
        display: flex;
        width:45vw;
        &__finder{
          // the element is styled in _todo-app__header__filters__el__finder
          &_hidden{
            display: none;
          }
        }
        &__select{
          cursor: pointer;
          background-color: $color__background_white;
          height: 30px;
          margin: 0 1vw 0 2vw;
          width: 40vw;
          border-radius:15px;
          border: 1px solid  $color__primary_orange;
          padding-left: 10px;
          color: $color__primary_orange_dark;
          font-size: 18px;
          outline: none;
          appearance:none;
          background-image: url("./components/todo-app/_todo-app__images/todo-app__header__filters__el__select_image_arrow.svg");
          background-position: right;
          background-repeat: no-repeat;
          background-size: contain;
          &_hidden{
            display: none;
          }
          &__item{
            padding-left: 10px;
            color: $color__primary_orange_dark;
            font-size: 18px;
          }
        }
      }
    }//end og header filters
  }//end of header
