//COLORS

//primary colors
$color__primary_orange:rgba(247,78,23,1);
$color__primary_green_dark:rgba(50,150,0,1);;
//primary colors- various shades
$color__primary_orange_light:rgba(255,98,43,1);
$color__primary_orange_dark:rgba(217,38,13,1);
$color__primary_green:rgba(97,190,25,1);
$color__primary_green_light: rgba(130,230,65,1);
$color__primary_green_lighter:rgba(150,240,75,1);
$color__primary_green_lightest:rgba(180,210,180,1);
$color__primary_green_dark_opacity:rgba(50,150,50,0.3);
$color__primary_green_dark_opacity_max:rgba(50,150,50,0.1);
$color__primary_green_dark_opacity_middle:rgba(50,150,0,0.7);
$color__primary_green_dark_opacity_min:rgba(50,150,50,0.9);

//edit item color
$color__green-orange:rgba(210,120,0,1);

//background colors
$color__background_white: rgba(255,255,255,1);
$color__background_orange_light: rgba(247,190,190,0.1);
$color__background_grey: rgba(230,230,230,1);

//fonts
// $font__primary:;
