@import "./../_todo-app__base/media-query-mixins";
@import "./__todo-list__item/todo-list__item";

.todo-app__main__todo-list{
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: rgba(230,230,230,1);

  @include tablet{
    width: 700px;
   };
  &__container{
    width: 80%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgba(230,230,230,1);

  }
}


// @include boxShadow();
//
// @mixin linearGradientEf($colors...){
// background: repeating-linear-gradient($colors);
// background: -webkit-linear-gradient($colors);
// background: -o-linear-gradient($colors);
// background: -moz-linear-gradient($colors);
// }
// @mixin boxShadow($color) {
// -webkit-box-shadow: 0px 3px 4px 0 $color;
// -moz-box-shadow: 0px 3px 4px 0 $color;
// -o-transform: 0px 3px 4px 0 $color;
// box-shadow: 0px 3px 4px 0 $color;
// }
