.todo-app__main__todo-list__item{
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 40px;
  margin-top: 10px;
  border-radius: 15px;
  border: 0;
  background-color: rgba(255,255,255,1);
  &:hover{
    box-shadow: 0 0 19px rgba(97,170,25,0.7);
    webkit-box-shadow: 0 0 19px rgba(97,170,25,0.7);
    -moz-box-shadow: 0 0 19px rgba(97,170,25,0.7);
    -o-transform: 0 0 19px rgba(97,170,25,0.7);
  }
  &__drag-point{
    align-self: flex-start;
    min-height: 40px;
    width: 40px;
    border-radius:  15px 0 0 15px;
    margin: auto 0;
    background-image: url("./components/todo-app/__todo-list/__todo-list__item/_todo-list__item__images/_todo-list__item__drag-point__image_hand_open.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &__text-container{
    width: 55%;
    margin-left: 11px;
    word-wrap: break-word;
    word-break: break-all;
    &__form{
      width: 100%;
      min-height: 40px;
      &__input{
        width: 100%;
        min-height: 40px;
        border: 1px solid white;
        color: rgba(210,120,0,1);
        font-size: 20px;
        font-weight: bold;
      }
    }
    &__text{
      background-color: rgba(255,255,255,1);
      font-size: 15px;
      font-weight: bold;
      // text-align: center;
      vertical-align: middle;
      padding: 3px 0;

    }
    &__text_incompleted{
      color:  rgba(248,78,23,1);
    }
    &__text_completed{
      color: rgba(97,170,25,1);
    }
  }//end of styling text container

  &__buttons-container{
    width: 30%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,1);
    &__button{
      outline: none;
      cursor: pointer;
      height: 32px;
      width: 32px;
      border: 0;
      margin: 0 5%;
      }
    &__button__image{
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-color: rgba(255,255,255,1);
    }
    @each $i in save, cancel, edit, delete{
      &__button__image_#{$i}{
        background-image: url("./components/todo-app/__todo-list/__todo-list__item/_todo-list__item__images/_todo-list__item__images_#{$i}.svg");
      }
    }//end of each
    &__button__image_tick{
      background-image: url("./components/todo-app/__todo-list/__todo-list__item/_todo-list__item__images/_todo-list__item__images_tick.svg");
    }
    &__button__image_tick_active{
      background-image: url("./components/todo-app/__todo-list/__todo-list__item/_todo-list__item__images/_todo-list__item__images_tick2.svg");
    }
  }

}
//keyframes to use in future

// @keyframes dragOver {
//   0%{margin-top: 10px;}
//   100% { margin-top: 40px; }
// }
// @keyframes dragOff {
//   0%{margin-top: 40px;}
//   100% { margin-top: 10px; }
// }
