.todo-app__main__todo-list__item{
  background-color: rgba(255,255,255,1);
  width: 100%;
  min-height: 40px;
  border-radius: 15px;
  border: 0;
  display: flex;
  margin-top: 10px;
  // justify-content: flex-end;
  align-items: center;
  &:hover{
    // @include linearGradientEf(-10deg,rgba(255,255,255,1),rgba(255,255,255,1) 47%,rgba(40,40,40,1) 50%,rgba(40,40,40,1) 100%);
    box-shadow: 0 0 10px rgba(97,170,25,0.7);
    webkit-box-shadow: 0 0 10px rgba(97,170,25,0.7);
    -moz-box-shadow: 0 0 10px rgba(97,170,25,0.7);
    -o-transform: 0 0 10px rgba(97,170,25,0.7);
  }
  .todo-app__main__todo-list__item__text-container{
    width: 60%;
    margin-left: 11px;
    word-wrap: break-word;
    // word-break: break-all;
    // border: 1px solid purple;
    .todo-app__main__todo-list__item__text-container__form{
      width: 100%;
      min-height: 40px;
      // word-wrap: break-word;
      // overflow:visible;

      .todo-app__main__todo-list__item__text-container__form__input{
        width: 100%;
        min-height: 40px;
        border: 1px solid white;
        // word-wrap: break-word;
        overflow:visible;
        color: rgba(210,120,0,1);
        font-size: 20px;
        font-weight: bold;
        outline-offset: -8px;
        padding: 6px 0 2px 8px;
      }
    }
    .todo-app__main__todo-list__item__text-container__text{
      background-color: rgba(255,255,255,1);
      font-size: 15px;
      font-weight: bold;
      // text-align: center;
      vertical-align: middle;
      padding: 3px 0;

    }
    .todo-app__main__todo-list__item__text-container__text_incompleted{
      color:  rgba(248,78,23,1);

    }
    .todo-app__main__todo-list__item__text-container__text_completed{
      color: rgba(97,170,25,1);
    }
  }//end of styling text container

  .todo-app__main__todo-list__item__buttons-container{
    width: 40%;
    // border: 1px solid blue;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,1);
    .todo-app__main__todo-list__item__buttons-container__button{
      // border: 1px solid red;
      // border-radius: 20px;
      outline: none;
      cursor: pointer;
      height: 32px;
      width: 32px;
      border: 0;
      margin: 0 5%;
      }
    .todo-app__main__todo-list__item__buttons-container__button__image{
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-color: rgba(255,255,255,1);
    }
    @each $i in save, cancel, edit, delete{
      .todo-app__main__todo-list__item__buttons-container__button__image_#{$i}{
        background-image: url("./components/todo-app/__todo-list/__todo-list__item/_todo-list__item__images/_todo-list__item__images_#{$i}.svg");
      }
    }//end of each
    .todo-app__main__todo-list__item__buttons-container__button__image_tick{
      background-image: url("./components/todo-app/__todo-list/__todo-list__item/_todo-list__item__images/_todo-list__item__images_tick.svg");
    }
    .todo-app__main__todo-list__item__buttons-container__button__image_tick_active{
      background-image: url("./components/todo-app/__todo-list/__todo-list__item/_todo-list__item__images/_todo-list__item__images_tick2.svg");
    }
  }

}




    // &__button{
    //   padding-top: 2px;
    //   text-align: center;
    //   line-height: 0;
    //   vertical-align: middle;
    //   border: 0 solid rgba(247,78,23,1);
    //   // background-color: rgba(247,78,23,1);
    //   background-color: rgba(255,255,255,1);
    //   color:  rgba(97,170,25,1);
    //   font-size: 40px;
    //   font-weight: bold;
    //   border-radius: 20px;
    //   height: 40px;
    //   width: 40px;
    //   cursor: pointer;
    //   outline: none;
    // }
