.main__todo-creator {
  width: 100vw; }
  @media (min-width: 700px) {
    .main__todo-creator {
      width: 700px; } }
  .main__todo-creator__content {
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #61aa19; }
    .main__todo-creator__content__form {
      background-color: #61be19;
      width: 80%;
      border-radius: 15px 20px 20px 15px;
      border: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      .main__todo-creator__content__form__input {
        outline: none;
        border: 0;
        background-color: #61be19;
        height: 30px;
        width: 60%;
        color: white;
        font-size: 19px; }
        .main__todo-creator__content__form__input::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: rgba(255, 255, 255, 0.7);
          text-align: center; }
        .main__todo-creator__content__form__input::-moz-placeholder {
          /* Firefox 19+ */
          color: rgba(255, 255, 255, 0.7);
          text-align: center; }
        .main__todo-creator__content__form__input::-ms-input-placeholder {
          /* IE 10+ */
          color: rgba(255, 255, 255, 0.7);
          text-align: center; }
        .main__todo-creator__content__form__input::-moz-placeholder {
          /* Firefox 18- */
          color: rgba(255, 255, 255, 0.7);
          text-align: center; }
      .main__todo-creator__content__form__button {
        padding-top: 2px;
        text-align: center;
        line-height: 0;
        vertical-align: middle;
        border: 0 solid #f74e17;
        background-color: white;
        color: #61aa19;
        font-size: 40px;
        font-weight: bold;
        border-radius: 20px;
        height: 40px;
        width: 40px;
        cursor: pointer;
        outline: none; }
  .main__todo-creator__error {
    width: 100vw;
    text-align: center;
    vertical-align: middle;
    background-color: #f74e17;
    color: white; }
    @media (min-width: 700px) {
      .main__todo-creator__error {
        width: 700px; } }

.header__filters__el__search {
  background-color: white;
  height: 30px;
  width: 30vw;
  border-radius: 15px;
  border: 1px solid #61be19;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 0 0 1vw; }
  .header__filters__el__search__input {
    outline: none;
    font-size: 18px;
    color: #399600;
    border: 0;
    width: 70%; }
    .header__filters__el__search__input::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: rgba(57, 150, 0, 0.7);
      text-align: center; }
    .header__filters__el__search__input::-moz-placeholder {
      /* Firefox 19+ */
      color: rgba(57, 150, 0, 0.7);
      text-align: center; }
    .header__filters__el__search__input::-ms-input-placeholder {
      /* IE 10+ */
      color: rgba(57, 150, 0, 0.7);
      text-align: center; }
    .header__filters__el__search__input::-moz-placeholder {
      /* Firefox 18- */
      color: rgba(57, 150, 0, 0.7);
      text-align: center; }
  .header__filters__el__search__button {
    padding-top: 2px;
    border: 0 solid #f74e17;
    background-image: url("./components/todo-app/__todo-finder/todo-finder_image_magnifyingGlass.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #61aa19;
    color: #61aa19;
    font-size: 20px;
    font-weight: bold;
    border-radius: 0 15px 15px 0;
    height: 28px;
    width: 40px;
    cursor: pointer;
    outline: none; }

.todo-app__main__todo-list__item {
  background-color: #e6e6e6;
  width: 100%;
  min-height: 40px;
  border-radius: 15px;
  border: 0;
  display: flex;
  margin-top: 10px;
  align-items: center; }

.todo-app__main__todo-list {
  width: 100vw;
  display: flex;
  justify-content: center; }
  @media (min-width: 700px) {
    .todo-app__main__todo-list {
      width: 700px; } }
  .todo-app__main__todo-list__container {
    width: 80%;
    margin-top: 10px;
    display: flex;
    flex-direction: column; }

* {
  background-color: white;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

.todo-app {
  width: 100vw; }
  @media (min-width: 700px) {
    .todo-app {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f7bebe; } }
  .todo-app__content {
    width: 100%;
    min-height: 900px; }
    @media (min-width: 700px) {
      .todo-app__content {
        width: 700px; } }

.header__logo {
  border: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #f74e17; }
  @media (min-width: 700px) {
    .header__logo {
      width: 700px; } }
  .header__logo__menu-button {
    outline: none;
    border: 0;
    width: 15vw;
    height: 75px;
    background-color: #f74e17;
    background-image: url("./components/todo-app/_todo-app__images/header__logo__menu-button_icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer; }
    .header__logo__menu-button:hover {
      background-color: #ff622b; }
  .header__logo__text {
    text-align: center;
    vertical-align: middle;
    padding-right: 10%;
    width: 85vw;
    background-color: #f74e17;
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 33px; }

@keyframes FadeIn {
  0% {
    opacity: 0;
    height: 0; }
  80% {
    height: 40px;
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes FadeOut {
  0% {
    opacity: 0;
    height: 40px; }
  100% {
    height: 0; } }

.header .header__filters {
  width: 100vw;
  border: 0; }
  @media (min-width: 700px) {
    .header .header__filters {
      width: 700px; } }
  .header .header__filters_hidden {
    height: 0;
    display: block;
    opacity: 0;
    animation: FadeOut 0.6s ease-in-out; }
  .header .header__filters_visible {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    opacity: 1;
    animation: FadeIn 0.6s ease-in-out; }
  .header .header__filters__el {
    width: 45vw; }
    .header .header__filters__el__select {
      cursor: pointer;
      background-color: white;
      height: 30px;
      margin: 0 1vw 0 2vw;
      width: 40vw;
      border-radius: 15px;
      border: 1px solid #f74e17;
      padding-left: 10px;
      color: #d9260d;
      font-size: 18px;
      outline: none;
      appearance: none;
      background-image: url("./components/todo-app/_todo-app__images/header__filters__el__select_image_arrow.svg");
      background-position: right;
      background-repeat: no-repeat;
      background-size: contain; }
      .header .header__filters__el__select__item {
        padding-left: 10px;
        color: #d9260d;
        font-size: 18px; }
