.main__todo-creator {
  width: 100vw; }
  @media (min-width: 700px) {
    .main__todo-creator {
      width: 700px; } }
  .main__todo-creator__content {
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #61aa19; }
    .main__todo-creator__content__form {
      background-color: #96f04b;
      width: 80%;
      border-radius: 15px 20px 20px 15px;
      border: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      .main__todo-creator__content__form:focus {
        background-color: #82e641; }
      .main__todo-creator__content__form__input {
        border-radius: 20px 0 0 20px;
        outline: none;
        border: 0;
        background-color: #96f04b;
        height: 40px;
        width: 95%;
        color: #329600;
        font-size: 19px;
        padding-left: 15px; }
        .main__todo-creator__content__form__input:focus {
          border: 4px solid #d2e6d2;
          background-color: white; }
          .main__todo-creator__content__form__input:focus::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: rgba(50, 150, 50, 0.3);
            text-align: center; }
          .main__todo-creator__content__form__input:focus::-moz-placeholder {
            /* Firefox 19+ */
            color: rgba(50, 150, 50, 0.3);
            text-align: center; }
          .main__todo-creator__content__form__input:focus::-ms-input-placeholder {
            /* IE 10+ */
            color: rgba(50, 150, 50, 0.3);
            text-align: center; }
        .main__todo-creator__content__form__input::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: rgba(50, 150, 50, 0.9);
          text-align: center; }
        .main__todo-creator__content__form__input::-moz-placeholder {
          /* Firefox 19+ */
          color: rgba(50, 150, 50, 0.9);
          text-align: center; }
        .main__todo-creator__content__form__input::-ms-input-placeholder {
          /* IE 10+ */
          color: rgba(50, 150, 50, 0.9);
          text-align: center; }
      .main__todo-creator__content__form__button {
        padding-top: 2px;
        text-align: center;
        line-height: 0;
        vertical-align: middle;
        border: 0 solid #f74e17;
        background-color: white;
        color: #61aa19;
        font-size: 40px;
        font-weight: bold;
        border-radius: 20px;
        height: 40px;
        width: 40px;
        cursor: pointer;
        outline: none; }
  .main__todo-creator__error {
    width: 100vw;
    text-align: center;
    vertical-align: middle;
    background-color: #f74e17;
    color: white; }
    @media (min-width: 700px) {
      .main__todo-creator__error {
        width: 700px; } }

.header__filters__el__search {
  background-color: white;
  height: 30px;
  width: 30vw;
  border-radius: 15px;
  border: 1px solid #61be19;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 0 0 1vw; }
  .header__filters__el__search__input {
    outline: none;
    font-size: 18px;
    color: #399600;
    border: 0;
    width: 70%; }
    .header__filters__el__search__input::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: rgba(57, 150, 0, 0.7);
      text-align: center; }
    .header__filters__el__search__input::-moz-placeholder {
      /* Firefox 19+ */
      color: rgba(57, 150, 0, 0.7);
      text-align: center; }
    .header__filters__el__search__input::-ms-input-placeholder {
      /* IE 10+ */
      color: rgba(57, 150, 0, 0.7);
      text-align: center; }
    .header__filters__el__search__input::-moz-placeholder {
      /* Firefox 18- */
      color: rgba(57, 150, 0, 0.7);
      text-align: center; }
  .header__filters__el__search__button {
    padding-top: 2px;
    border: 0 solid #f74e17;
    background-image: url("./components/todo-app/__todo-finder/todo-finder_image_magnifyingGlass.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #61aa19;
    color: #61aa19;
    font-size: 20px;
    font-weight: bold;
    border-radius: 0 15px 15px 0;
    height: 28px;
    width: 40px;
    cursor: pointer;
    outline: none; }

.todo-app__main__todo-list__item {
  background-color: white;
  width: 100%;
  min-height: 40px;
  border-radius: 15px;
  border: 0;
  display: flex;
  margin-top: 10px;
  align-items: center; }
  .todo-app__main__todo-list__item:hover {
    box-shadow: 0 0 19px rgba(97, 170, 25, 0.7);
    webkit-box-shadow: 0 0 19px rgba(97, 170, 25, 0.7);
    -moz-box-shadow: 0 0 19px rgba(97, 170, 25, 0.7);
    -o-transform: 0 0 19px rgba(97, 170, 25, 0.7); }
  .todo-app__main__todo-list__item .todo-app__main__todo-list__item__drag-point {
    align-self: flex-start;
    margin: auto 0;
    min-height: 40px;
    width: 40px;
    border-radius: 15px 0 0 15px;
    background-image: url("./components/todo-app/__todo-list/__todo-list__item/_todo-list__item__images/_todo-list__item__drag-point__image_hand_open.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }
  .todo-app__main__todo-list__item .todo-app__main__todo-list__item__text-container {
    width: 55%;
    margin-left: 11px;
    word-wrap: break-word;
    word-break: break-all; }
    .todo-app__main__todo-list__item .todo-app__main__todo-list__item__text-container .todo-app__main__todo-list__item__text-container__form {
      width: 100%;
      min-height: 40px; }
      .todo-app__main__todo-list__item .todo-app__main__todo-list__item__text-container .todo-app__main__todo-list__item__text-container__form .todo-app__main__todo-list__item__text-container__form__input {
        width: 100%;
        min-height: 40px;
        border: 1px solid white;
        overflow: visible;
        color: #d27800;
        font-size: 20px;
        font-weight: bold;
        outline-offset: -8px;
        padding: 6px 0 2px 8px; }
    .todo-app__main__todo-list__item .todo-app__main__todo-list__item__text-container .todo-app__main__todo-list__item__text-container__text {
      background-color: white;
      font-size: 15px;
      font-weight: bold;
      vertical-align: middle;
      padding: 3px 0; }
    .todo-app__main__todo-list__item .todo-app__main__todo-list__item__text-container .todo-app__main__todo-list__item__text-container__text_incompleted {
      color: #f84e17; }
    .todo-app__main__todo-list__item .todo-app__main__todo-list__item__text-container .todo-app__main__todo-list__item__text-container__text_completed {
      color: #61aa19; }
  .todo-app__main__todo-list__item .todo-app__main__todo-list__item__buttons-container {
    width: 30%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white; }
    .todo-app__main__todo-list__item .todo-app__main__todo-list__item__buttons-container .todo-app__main__todo-list__item__buttons-container__button {
      outline: none;
      cursor: pointer;
      height: 32px;
      width: 32px;
      border: 0;
      margin: 0 5%; }
    .todo-app__main__todo-list__item .todo-app__main__todo-list__item__buttons-container .todo-app__main__todo-list__item__buttons-container__button__image {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-color: white; }
    .todo-app__main__todo-list__item .todo-app__main__todo-list__item__buttons-container .todo-app__main__todo-list__item__buttons-container__button__image_save {
      background-image: url("./components/todo-app/__todo-list/__todo-list__item/_todo-list__item__images/_todo-list__item__images_save.svg"); }
    .todo-app__main__todo-list__item .todo-app__main__todo-list__item__buttons-container .todo-app__main__todo-list__item__buttons-container__button__image_cancel {
      background-image: url("./components/todo-app/__todo-list/__todo-list__item/_todo-list__item__images/_todo-list__item__images_cancel.svg"); }
    .todo-app__main__todo-list__item .todo-app__main__todo-list__item__buttons-container .todo-app__main__todo-list__item__buttons-container__button__image_edit {
      background-image: url("./components/todo-app/__todo-list/__todo-list__item/_todo-list__item__images/_todo-list__item__images_edit.svg"); }
    .todo-app__main__todo-list__item .todo-app__main__todo-list__item__buttons-container .todo-app__main__todo-list__item__buttons-container__button__image_delete {
      background-image: url("./components/todo-app/__todo-list/__todo-list__item/_todo-list__item__images/_todo-list__item__images_delete.svg"); }
    .todo-app__main__todo-list__item .todo-app__main__todo-list__item__buttons-container .todo-app__main__todo-list__item__buttons-container__button__image_tick {
      background-image: url("./components/todo-app/__todo-list/__todo-list__item/_todo-list__item__images/_todo-list__item__images_tick.svg"); }
    .todo-app__main__todo-list__item .todo-app__main__todo-list__item__buttons-container .todo-app__main__todo-list__item__buttons-container__button__image_tick_active {
      background-image: url("./components/todo-app/__todo-list/__todo-list__item/_todo-list__item__images/_todo-list__item__images_tick2.svg"); }

@keyframes dragOver {
  0% {
    margin-top: 10px; }
  100% {
    margin-top: 40px; } }

@keyframes dragOff {
  0% {
    margin-top: 40px; }
  100% {
    margin-top: 10px; } }

.todo-app__main__todo-list {
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: #e6e6e6; }
  @media (min-width: 700px) {
    .todo-app__main__todo-list {
      width: 700px; } }
  .todo-app__main__todo-list__container {
    width: 80%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background-color: #e6e6e6; }

* {
  background-color: white;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

.todo-app {
  width: 100vw; }
  @media (min-width: 700px) {
    .todo-app {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(247, 190, 190, 0.1); } }
  .todo-app__content {
    width: 100%;
    min-height: 900px;
    background-color: #e6e6e6; }
    @media (min-width: 700px) {
      .todo-app__content {
        width: 700px; } }

.header__logo {
  border: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #f74e17; }
  @media (min-width: 700px) {
    .header__logo {
      width: 700px; } }
  .header__logo__menu-button {
    outline: none;
    border: 0;
    width: 15vw;
    height: 75px;
    background-color: #f74e17;
    background-image: url("./components/todo-app/_todo-app__images/header__logo__menu-button_icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer; }
    @media (min-width: 700px) {
      .header__logo__menu-button:hover {
        background-color: #ff622b; } }
  .header__logo__menu-button_active {
    background-color: #ff622b; }
  .header__logo__text {
    width: 85vw;
    background-color: #f74e17;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 8%; }
    .header__logo__text__words {
      text-align: center;
      vertical-align: middle;
      background-color: #f74e17;
      font-family: 'Pacifico', cursive;
      color: white;
      font-size: 33px; }
    .header__logo__text__dots {
      background-color: #f74e17;
      margin-top: 4px;
      width: 25px;
      height: 25px;
      background-image: url("./components/todo-app/_todo-app__images/header__logo__menu-text_dots.svg");
      animation: play 3.1s steps(4) infinite; }

@keyframes play {
  100% {
    background-position: -100px; } }

@keyframes FadeIn {
  0% {
    opacity: 0;
    height: 0; }
  80% {
    height: 40px;
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes FadeOut {
  0% {
    opacity: 0;
    height: 40px; }
  100% {
    height: 0; } }

.header .header__filters {
  width: 100vw;
  border: 0; }
  @media (min-width: 700px) {
    .header .header__filters {
      width: 700px; } }
  .header .header__filters_hidden {
    height: 0;
    display: block;
    opacity: 0;
    animation: FadeOut 0.6s ease-in-out; }
  .header .header__filters_visible {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    opacity: 1;
    animation: FadeIn 0.6s ease-in-out; }
  .header .header__filters__el {
    display: flex;
    width: 45vw; }
    .header .header__filters__el_hidden {
      display: none; }
    .header .header__filters__el__select {
      cursor: pointer;
      background-color: white;
      height: 30px;
      margin: 0 1vw 0 2vw;
      width: 40vw;
      border-radius: 15px;
      border: 1px solid #f74e17;
      padding-left: 10px;
      color: #d9260d;
      font-size: 18px;
      outline: none;
      appearance: none;
      background-image: url("./components/todo-app/_todo-app__images/header__filters__el__select_image_arrow.svg");
      background-position: right;
      background-repeat: no-repeat;
      background-size: contain; }
      .header .header__filters__el__select__item {
        padding-left: 10px;
        color: #d9260d;
        font-size: 18px; }
